<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="/">

    each s in js
        script(src=s)
        
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="assets/style/main.css">

    <script defer type="script" href="assets/script/main.js"></script>
    <script src="assets/bootstrap/js/bootstrap.js"></script>
    <title>Pedidos grafica</title>
</head>

<body>

    <div class="wrapper-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" href="/frm-cliente">Criar Cliente com Pedido</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/clientes">Criar Pedido para cliente existente</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
    </div>


    <div class="create-pedido">
        <div class="container">
            <div class="wrapper">
                <div class="content">
                    <div class="item create">
                        <h2 class="ped-h2">Clientes</h2>
                        <div class="row">
                            div.itm-btn-clients 
                                button.mBtn(type="button", onclick="redir('clientes')") Todos os clientes 
                                    img(src="../../assets/icons/svg/person.svg") 
                            div
                            div.itm-btn-clients 
                                button.mBtn(type="button", onclick="redir('frm-cliente')") Cadastrar cliente com novo pedido
                                    img(src="../../assets/icons/svg/person.svg") 
                            div
                            div.itm-btn-clients  
                                button.mBtn(type="button", onclick="redirPedido()") Cadastrar pedido para um cliente 
                                    img(src="../../assets/icons/svg/person.svg") 
                            div
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 

    div.container 
        div.wrapper
            div.mb-1
                div.content
                    div.pedidos-pendentes

                    div.pedidos-prontos 
</body>

</html>