<!DOCTYPE html>
html(lang="pt-br")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        style
            include css/main.css

        style
            include ../../../assets/bootstrap/css/bootstrap.css 

        each s in js
            script(src=s)
            
        title Criar Pedido
        
    body

    div.container
    
            br
            h1 Pedido 
            h3 Nome do cliente: #{ user }
            hr

            form(action="/frm-pedido", method="post")
                div.mb-4
                    h4 Nome do pedido
                    div.mb-2
                    input.form-control(type="text", name="name_pedido", placeholder="Pedido")

                div.mb-4
                    div.row
                        div.col
                            h5 Quantidade
                            input.form-control.in_price(type="number", name="quant", placeholder="Quantidade")
                        div.col
                            h5 Preço
                            input.form-control#preco-in(type="number", name="preco", placeholder="Preço")
                hr
                div.mb-4
                    h4 Data entrega
                    input.form-control.date_in(type="date", name="data_entrega", placeholder="Data de entrega", required="true")
                    
                    textarea(name="id_client").in_cli #{id}
                button.btn.btn-primary(type="submit") Cadastrar pedido
