<!DOCTYPE html>
html(lang="pt-br")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        <link rel="stylesheet" type="text/css" href="//assets.locaweb.com.br/locastyle/2.0.6/stylesheets/locastyle.css">
    
        style
           include css/style.css

        style
            include ../../../../public/assets/bootstrap/css/bootstrap.css 

        each mjs in js 
            script(src = mjs)

        title Cadastro Cliente
    body
    div.m-5
    
        div.container
            h2 Cadastro de cliente
            hr
        div.m-2

        div.container
         form(action="/frm-cliente", method="post")
            p Nome do cliente
            div.input-group.mb-3
                div.input-group-prepend
                    span.input-group-text#basic-addon1 Nome
                div
                <input type="text" class="form-control" placeholder="Nome do cliente" aria-label="Username" name="name_client" aria-describedby="basic-addon1" required>
            div

            p CPF
            div.input-group.mb-3
                div.input-group-prepend
                    span.input-group-text#basic-addon1 CPF
                div
                <input type="text" class="form-control cpf-mask" placeholder="Ex.: 000.000.000-00" name="cpf_client" aria-describedby="basic-addon1" required>
            div

            p Numero Cliente 
            div.input-group.mb-3
                div.input-group-prepend
                    span.input-group-text#basic-addon1 Numero
                div
                <input type="text" class="form-control" placeholder="Numero do cliente" name="num_c" required>
            div

            p Tipo de numero
            div.mb-2
                <select name="tipo_numero">
                    <option value="Telefone">Telefone</option>
                    <option value="Whatsapp">Whatsapp</option>
                </select>
            br

            button(type="submit" class="btn btn-primary") Cadastrar Cliente