<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        style 
            include ../../../assets/bootstrap/css/bootstrap.css

        title Document
    body    
        div.container
            div.mb-5
            form(action="/frm-edit-pedido/" + id_pedido + "/" + id_client, method="post")
                div.mb-4
                    h4 Nome do pedido
                    div.mb-2
                    input.form-control(type="text", name="name_pedido", placeholder="Pedido", value=pedido.nome_pedido)

                div.mb-4
                    div.row
                        div.col
                            h5 Quantidade
                            input.form-control.in_price(type="number", name="quant", placeholder="Quantidade", value=pedido.quant)
                        div.col
                            h5 Preço
                            input.form-control#preco-in(type="number", name="preco", placeholder="Preço", value=pedido.preco)
                hr
                div.mb-4
                    h4 Data entrega
                    input.form-control(type="date", name="data_entrega", placeholder="Data de entrega", pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}", required="true")
                    
                button.btn.btn-primary(type="submit") Cadastrar pedido
