<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        style 
            include css/main.css
        style 
            include ../../../public/assets/bootstrap/css/bootstrap.css 
        
        script
            include js/main.js

        title Todos os clientes

    body

        div.container
            br
            div.content
                h2 Todos os clientes cadastrados
                hr  
                input.form-control.mIn(type="text" placeholder="Pesquisar cliente" onkeyup="searchClient()")

            div.row#myRowAtClients
                each client in allClients
                    div.container.mCon
                        div.card.mCard
                            h5.card-header.mNameCard #{client.nome}
                            div.card-body
                                h5.card-title ID: #{client.ID_Client}
                                p.card-text CPF: #{client.cpf}
                                p.card-text Numero: #{client.numero}
                            
                                a(href="pedido/" + client.ID_Client).btn.btn-primary Ver pedidos
                        