.card-pedido {
    margin: 10px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    width: 18vw;
    box-shadow: 0 1px 10px -5px black;
    transition: 500ms;
    background: #2c2c2c;
    color: #ffffff;
}

.card-pedido:hover {
    box-shadow: 0 1px 20px -1px black;
}

.title {
    font-weight: 800;
}

.title-o {
    margin-top: 10vh;
    padding: 2vh 5px;
}

.quant,
.data {
    color: rgb(182, 182, 182)
}

.preco {
    margin: 20px 0;
}

.txt-client {
    margin: 5px;
}

.mA {
    color: rgb(255, 255, 255);
}

.mBtn {
    margin-top: 10px;
}

.btn-item {
    margin: 2px 10px;
}

.total-p-container {
    margin: 10px 3px;
    background: #2c2c2c;
    border-radius: 10px;
    padding: 10px 15px;
    color: rgb(177, 177, 177);
}

.pr-t {
    margin: 5px 10px;
    padding: 8px 0;
}

.pr {
    padding: 5px;
    margin: 15px;
    color: white;
}

.mConState {
    margin-top: 15px;
}

.mConState select {
    font-size: medium;
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    color: whitesmoke;
    background: #5d5d5d;
}

.mB {
    position: relative;
    float: right;
    margin: 2px 0;
}

.sub-title {
    color: rgb(34, 238, 136);
}

.myForm {
    margin: 20px 0;
    padding: 10px 0;
    border: none;
    border-radius: 10px;
    background: #2c2c2c;
    color: rgb(177, 177, 177);
}

.in_none {
    display: none;
}